.root {
	width: 1334px;
	min-height: 810px;
	border: 1px solid rgba(255, 255, 255, 0.13);
	overflow-x: hidden;
	@media (max-width: 1100px) {
		margin: 0 auto;
		width: 100%;
	}
	@media (max-width: 600px) {
		margin-top: 30px;
	}
	h1 {
		color: rgb(255, 255, 255);
		font-family: Iceland;
		font-size: 25px;
		font-weight: 400;
		letter-spacing: 7.5%;
		text-transform: uppercase;
		text-align: center;
		padding: 30px 0;
	}
	.content {
		display: grid;
		grid-template-columns: 331px 950px;
		gap: 0 50px;
		padding: 0 50px;
		@media (max-width: 500px) {
			padding: 0 15px;
		}

		@media (max-width: 1800px) {
			grid-template-columns: 331px 820px;
			justify-content: center;
		}
		@media (max-width: 1700px) {
			grid-template-columns: 1fr;
			padding-bottom: 200px;
		}
		@media (max-width: 1000px) {
			padding-bottom: 50px;
		}
	}
	.left {
		.details,
		.technologies {
			padding: 13px;
			border: 1px solid rgba(255, 255, 255, 0.13);
			margin-bottom: 18px;
			h3 {
				color: rgb(255, 255, 255);
				font-family: Iceland;
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 7.5%;
				text-transform: uppercase;
				background: url('../../assets/project/bgLine.png');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				padding: 5px 0 5px 5px;
				margin-bottom: 8px;
				@media (max-width: 1800px) {
					font-size: 20px;
				}
				@media (max-width: 1700px) {
					background: rgb(201, 59, 59);
					margin-bottom: 15px;
				}
			}
			.project__name_descr,
			.project__brief_descr {
				color: rgb(255, 255, 255);
				font-family: Iceland;
				font-size: 20px;
				font-weight: 400;
				letter-spacing: 7.5%;
				text-transform: uppercase;
				margin-bottom: 4px;
			}
			.project__name,
			.project__brief,
			.technologies__name_descr {
				color: rgb(232, 74, 74);
				font-family: 'Big Shoulders Display';
				font-size: 22px;
				font-weight: 800;
				text-align: left;
				letter-spacing: 1px;
				text-transform: uppercase;
				border-bottom: 1px solid rgb(51, 51, 51);
				padding-bottom: 16px;
			}
			.project__brief_descr {
				padding-top: 16px;
			}
			.project__brief,
			.technologies__name {
				border: none;
				padding-bottom: 0;
				color: rgb(122, 122, 122);
				font-family: Iceland;
				font-size: 20px;
				font-weight: 400;
				text-transform: uppercase;
			}
			.technologies__name_descr {
				border: none;
			}
			.technologies__name_descr_back {
				color: rgb(232, 74, 74);
				font-family: 'Big Shoulders Display';
				font-size: 22px;
				font-weight: 800;
				text-align: left;
				letter-spacing: 1px;
				text-transform: uppercase;
				padding-bottom: 16px;
				line-height: 25px;
				padding-top: 16px;
				border-top: 1px solid rgb(51, 51, 51);
			}
			.technologies__name {
				margin-bottom: 16px;
			}
		}
	}
	.right {
		img {
			width: 850px;
			border: 1px solid rgba(255, 255, 255, 0.13);
			@media (max-width: 1800px) {
				width: 800px;
			}
			@media (max-width: 1700px) {
				display: block;
				width: 100%;
			}
		}
		.buttons {
			display: grid;
			grid-template-columns: 400px 1fr;
			margin-top: 20px;
			align-items: center;
			user-select: none;
			@media (max-width: 1400px) {
				display: flex;
				flex-direction: column-reverse;
				align-items: start;
				gap: 20px 0;
			}
			.btns__wrapper {
				display: flex;
				gap: 0 25px;
				@media (max-width: 420px) {
					flex-direction: column;
					gap: 20px 0;
					width: 100%;
					text-align: center;
				}
			}

			a {
				color: rgb(255, 255, 255);
				font-family: Iceland !important;
				font-size: 20px;
				font-weight: 400;
				letter-spacing: 7.5%;
				text-transform: uppercase;
				background: transparent;
				padding: 11px 10px;
				border: 1px solid rgb(232, 74, 74);
				transition: 0.3s ease;
				&:hover {
					background-color: rgb(232, 74, 74);
					@media (max-width: 1024px) {
						background-color: transparent;
					}
				}
			}
			.full__description {
				color: rgb(122, 122, 122);
				font-family: Iceland;
				font-size: 20px;
				font-weight: 400;
				text-transform: uppercase;
				width: 448px;
				@media (max-width: 1800px) {
					width: 400px;
				}
				@media (max-width: 1700px) {
					width: 100%;
				}
			}
		}
	}
}
